.details-container{
    border: solid 2px red;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 400px;
    background-color: rgb(203, 200, 200);
}

.details-image{
    border: solid 2px green;
    width: 30%;
    margin: 30px;
}
.details-info{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    align-content: center;
    flex-direction: column;
}
.details-sizeList{
    
    display: flex;
    gap:5px;
    flex-direction: column;
}
.sizes-container{
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
}
.sizes{
    margin: 5px;
    cursor: pointer;
    border:solid 2px black;
    border-radius: 3px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.sizes-selected{
    margin:5px;
    cursor: pointer;
    border:solid 2px #69bfbe;
    border-radius: 3px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sizes-disabled{
    margin: 5px;
    cursor: not-allowed !important;
    border:solid 2px black;
    border-radius: 3px;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 0.5;

}
.sizes h1{
    font-family: 'Courier New', Courier, monospace;
}