
/* En tu archivo list-products.css */

.products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table img {
    max-width: 100px;
    max-height: 100px;
  }
  @media only screen and (max-width: 600px) {
    .product-table td p {
      font-size: 14px; /* Ajusta el tamaño de la fuente según tus preferencias */
    }
  }
  
  /* Agrega cualquier estilo adicional según sea necesario */
  