
.order-details-container{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    min-height: 90vh;
}
.order-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@media screen and (max-width:768px) {
    .order-details-container{
        width: 90%;
        margin: auto;
        margin-top: 40px;
        min-height: 90vh;
    }
    .table{
        width: 100%;
        margin: auto;
    }
    .order-header h4{
        font-size: 14px;
    }
}