
.form-data-container{
    width: 40%
}

.payment-buttons-container{
  
    
}
.form-data-disabled{
    border: 2px solid blue;
    pointer-events: none;
    opacity: 0.5;
}
.payment-buttons-container div{
    margin-bottom: 10px;
}
.select-payment{
    cursor: pointer;
    background-color: rgb(19, 97, 193);
    width:300px;
    height: 48px;
    color:white;
    font-size:30px;
    font-family: 'Arial', sans-serif;    
}
.paypalButtons{
  
    margin: auto;
    z-index:+2 !important;
}

.credit-card-btn button{
    cursor: pointer;
    background-color: black;
    width:300px;
    height: 48px;
    font-weight: bold;
    color:white;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
   

}
.credit-card-btn button:hover{
    opacity: 0.8;
}
.volver-btn button{
    cursor: pointer;
    background-color:#69bfbe ;
    width:300px;
    height: 48px;
    color:rgb(65, 63, 66);
    font-size:16px;
    font-family: 'Arial', sans-serif;
}
.volver-btn button:hover{
    opacity: 0.8;
}

@media screen and (max-width:1024px) {
    .form-data-container{
        width: 90%
    }
}
@media screen and (max-width:520px) {
    .volver-btn button{
        width:60%;
    }
    .credit-card-btn button{
        width:60%;   
    }
    .select-payment{
        width:60%;
        font-size: 16px;       
    }
}