.footer-container{
    width: 100vw;
    height: 200px;
    background-color: rgb(244, 250, 250);
    display: flex;
    font-family: orbitron;
    color:#69bfbe;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.footer-container div {
    width: 33%;
}
.social-footer{
display: flex;
justify-content: center;
align-items: center;
}
.logo-center{
    display: flex;
justify-content: center;
align-items: center;
}
.logo-center img{
    width: 150px;
}
.contact{
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}
@media screen and (max-width: 768px) {
    .footer-container{
        flex-direction: column;
        height: 300px;
    }
    .footer-container div{
        margin: 5px;
        width: 100%;
    }
}
