

.admin{
    margin-top: 25px;
    min-height: 90vh;

}
.button-container{
    border: solid 2px pink;
    margin-top: 300px;
    width:90%;
    margin: auto;
    display:flex;
    justify-content: center;
    flex-flow: wrap;

}
@media screen and (max-width: 1024px) {
    .button-container{
        flex-direction: column;
    }
}

