

.main-products-container{
    margin-top: 30px;
}
.products-container{
    width:80%;
    min-height: 70vh;
    margin: auto;
    margin-top: 30px;
    display:flex;
    justify-content: center;;
    /* flex-direction: column; */
    gap: 20px;
}
.product-container{
    border: 4px solid rgb(64, 63, 63);
    width: 300px;
    height: 450px;
}

h1{
    margin: 15px;
    font-family: orbitron;
    font-size: 50px;
}

.product-box{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    
}
.image-product{
  width: 100%;
  height: 65%;
  width: 80%;
  margin: 5px auto 5px auto;
}
.image-product img{
    width: 100%;
    height: 100%;
    
}

.product-text{
    border-top: 4px solid rgb(64, 63, 63);
    height: 35%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content:center;

}
.product-text h3{
    color:rgb(64, 63, 63) ;
}
.product-text h4{
    color:rgb(64, 63, 63) ;
}
@media screen and (max-width:1024px) {
    h1{
        font-size: 30px;
    }
   
}