
.navbar{
    background-color: #000000;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logo img{
    width:250px;
    transition: all 300ms ease-out;
}
.logo img:hover{
    transform: scale(1.15);
    transition: all 300ms ease-in;
}

@media screen and (max-width:1024px) {
    .navbar{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}