
/* COLORS
BACKGROUND => #000000;
MAIN =>  #69bfbe;
REST => #ffffff
*/

.App {
  text-align: center;
}

body{
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* * Buttons * */
.general-btn-blue {
  cursor: pointer;
  width: 50%;
  margin:auto;
  padding: 5px;
  margin-top: 20px;
}