/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* Estilos de la tabla */
table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.disabled {
  opacity: 0.5; /* Reduce la opacidad para desactivar visualmente la tabla */
  pointer-events: none; /* Evita que los elementos de la tabla respondan a eventos de ratón */
  /* Otros estilos de desactivación, según sea necesario */
}

th, td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f5f5f5;
}

tr:hover {
  background-color: #f9f9f9;
}

/* Estilos de la cantidad y botones */
.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-quantity button {
  margin: 0px 2px 0px 2px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: #eaeaea;
  cursor: pointer;
}

.cart-quantity input {
  border: 1px  solid black;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  text-align: center;
}

.cart-quantity input[readonly] {
  background-color: white;
  cursor: not-allowed;
}
/* Delete Icon//Button */
td .delete-icon{
  cursor:pointer;
  margin-left: -70px;
  width: 40px;
  transition: all 300ms ease-out;
 }
 td .delete-icon:hover{
   transform: scale(1.15);
   transition: all 300ms ease-in;
 }


/* Otros estilos */
h2 {
  margin: 20px;
}

.btn-bought {
  cursor: pointer;
  margin: 10px;
  background-color: rgb(0, 115, 255);
  width: 300px;
  height: 50px;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

#paypal-button-container {
  border: 2px solid green;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
